html {
    height: 100%
}

body{
    
    background-image: url("../images/bg3.jpg");
    background-position: center;
    
    background-size: 500%;
}
.footer {
    margin-top: 10px;
    background-color: #efeded;
    text-align: center;
}

.card-body{
    margin: auto;
}

.navbar-light{
    margin-bottom: 10px;
}

.navbar {
    border-radius: 5px;
}

.center{

text-align: left;
}